OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_DISCOVERY_URL=
HOMEASSISTANT_URL=
HOMEASSISTANT_TOKEN=
HOMEASSISTANT_TRACKER_ENTITY=
HOMEASSISTANT_BOOLEAN_ENTITY=
PUBLIC_SITE_URL= # The external URL of the frontend.
BETTER_AUTH_SECRET= # Generate with `openssl rand -hex 32`
PUBLIC_MAPBOX_API_KEY= # Mapbox